.link{
    background-color: #d1981e;
    color: white;
    font-size: 16px;
    padding: 5px 16px;
}

.publicar{
    background-color: #d1981e;
    color: white;
    font-size: 16px;
    padding: 5px 26px;
    border-radius: 30px;
    width: 80%;
}