.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  width: 100%;
}

.header {
  font-family: sans-serif;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.backBtn {
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}

.title {
  font-size: 1.3rem;
  font-weight: 600;
}

.nomeInput{
  padding: 6px 10px;
  border: 1px solid #d1981e;
  border-radius: 5px;
  font-size: 14px;
  color: rgb(81, 81, 81);
  background: transparent;
  outline: none;
  cursor: pointer;
}

.select {
  width: 100%;
  max-width: 300px;
  padding: 10px;
  margin: 8px 0;
  border: 1px solid #aaa;
  border-radius: 4px;
  font-size: 14px;
}

.fotoBox {
  width: 100%;
  max-width: 300px;
  height: 200px;
  background-color: #f0f2f5;
  margin: 10px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  border: 1px dashed #ccc;
}

.fotoLabel {
  cursor: pointer;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inputFile {
  display: none;
}

.fotoContent {
  text-align: center;
  color: #555;
}

.icon {
  width: 24px;
  height: 24px;
  margin-top: 4px;
}

.plus {
  font-size: 20px;
  font-weight: bold;
}

.locationBox {
    display: flex;
    flex-direction: column;
    align-items: center;
  position: relative;
  width: 100%;
  max-width: 200px;
  margin: 10px 0;
}

.locationInput {
  width: 100%;
  padding: 10px 36px 10px 10px;
  border: 1px solid #aaa;
  border-radius: 6px;
  font-size: 14px;
}

.pinIcon {
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 18px;
}

.btnPublicar:hover {
  background-color: #c38f1f;
}
