.container {
  padding: 1rem;
  font-family: sans-serif;
}


.header {
  font-family: sans-serif;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.backBtn {
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}

.title {
  font-size: 1.3rem;
  font-weight: 600;
}

.meuJardimBtn {
  margin: 1rem 0;
  padding: 0.4rem 1rem;
  border: 2px solid #d1981e;
  border-radius: 8px;
  background-color: #f7c948;
  color: black;
  font-weight: bold;
  cursor: pointer;
}

.subtitulo {
  font-weight: 600;
  font-size: 1.1rem;
  margin-bottom: 0.5rem;
}

.lista {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
